<div class="footer__container">
    <span>@ 2021 Julián Zamt</span>
    <span>
        <a href="https://github.com/julizamt" target="_blank"><img class="footer__icon"
                src="../../assets/images/logotipo-de-github.svg" alt="github_icon" width=20 height=20></a>
        <a href="https://twitter.com/julianzamt" target="_blank"><img class="footer__icon"
                src="../../assets/images/iconmonstr-twitter-1.svg" alt="github_icon" width=20 height=20></a>
    </span>
    <span class="about">|</span>
    <span class="about">About</span>
</div>