<!-- <div class="grid-container">
    <div class="flex-container-name">
        <h1>Hola, {{name}}</h1>

    </div>
    <div class="flex-container">
        <input type="text" [(ngModel)]="name" placeholder="Tipeá tu nombre">
    </div>
</div> -->

<h1>Home</h1>
<div class="products__container">
    <div *ngFor="let product of products" class="product">
        <div>
            {{product.name}}
        </div>
        <div>
            {{product.price | currency}}
        </div>
    </div>
</div>